<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
var NEGADATA = { {{range .Charts}}
    {{.Span}}: { {{range .Indexes}}
      {{.Index}}: [{{range .Rows}}
        {c:[{{range .}}{v:{{.Value}}{{with .FormattedValue}},f:{{.}}{{end}}{{with .Percentile}},p:{{.}}{{end}}{{with .Rank}},r:{{.}}{{end}}},{{end}}]},{{end}}
      ],{{end}}
    },{{end}}
  };


var minGlobalTimestamp = new Date({{.BoundingYears.MinTimestamp.Unix}}*1000), maxGlobalTimestamp = new Date({{.BoundingYears.MaxTimestamp.Unix}}*1000);
</script>