<!DOCTYPE html>
<html lang="{{.Lang}}">
<head id="{{.Type}}" data-topic="{{.Topic}}">
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
<meta property="og:image" content="http://{{.Lang}}.negapedia.org/images/logo.png"/>

<title>{{if eq .Type "topic"}}Category: {{end}}{{.Title}} - Negapedia</title>

<link rel="stylesheet prefetch" type="text/css" href="../css/core.css">
<link rel="canonical" href="{{.CanonicalURL}}">

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
{{template "data.html" .}}
</script>


<body>

<div id="menu"></div>

<div id="content">

<h1 {{if eq .Type "article"}} data-name="{{.UnderscoredTitle}}"{{end}}>{{.Title}}</h1>

<div id="intro"></div>

{{if eq .Type "article"}}
<div id="wikipedia-from">{{.Abstract}}</div>

<div id="negawards"></div>

{{if .Links}}
<div id="social-jumps">
{{template "pagelist.html" .Links}}
</div>{{end}}{{end}}

</div>

<div id="resolver">
<script type="text/javascript" src="../js/resolver_{{.Lang}}.js"></script>
</div>

</body></html>
